:host .stock-card {
  background: #333;
  color: #fff;

  &.increase {
    background: rgb(69, 221, 145);
  }

  &.decrease {
    background: rgb(238, 67, 55);
  }

  .content {
    margin: auto;

    p {
      font-size: 20px;

      span {
        font-size: 18px;
      }
    }
  }
}
